# .gitignore

# cache file
**/matlab.mat
**/__pycache__
**/test.*
test.m
opt_test.*

model/SU2_temp
model/SHABP_temp
model/fluent_temp

# mesh file
*.log
*.7z
*.gz
*.szplt
*.uns
*.bak

# temp file
temp/
multiprocess/

# cgns4m original file
cgns4m/cgnslib_3.4.1/
cgns4m/cgns4m_private/
cgns4m/mexUtil/
cgns4m/src/

# large file
Airfoil/data/airfoil_LHD_1000.mat
coord/mesh_data_WWD.mat

HGV/
Test/
result/
pyAeroOpt/